body{
    /* background-image: url(efb5bd683d.jpg);
    background-position: center center;
    background-size: cover; */
    background: linear-gradient(to right, #e88206, #e6dbdb,#08de17);
      
}